<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myblog.dao.MyBatis.Mapper.CategoryMapper">
    <select id="getCategoriesByCondition" resultType="Category">
        SELECT * FROM category
        <where>
            <if test="category_name_en != null">
                category_name_en LIKE #{category_name_en}
                OR category_name_cn LIKE #{category_name_en},
            </if>
            <if test="category_name_cn != null">
                AND category_name_cn LIKE #{category_name_cn}
                OR category_name_en LIKE #{category_name_cn},
            </if>
            <if test="category_level != null and category_level != 0">
                AND category_level = #{category_level},
            </if>
            <if test="category_enabled != null">
                AND category_enabled = #{category_enabled},
            </if>
        </where>
        <if test="orderBy != null and orderType != null">
            ORDER BY #{orderBy} #{orderType}
        </if>
        <if test="offset != null and limit != null">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>
</mapper>