<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myblog.dao.MyBatis.Mapper.PostMapper">
    <insert id="createPost" useGeneratedKeys="true" keyProperty="post_id">
        INSERT INTO post(
            user_id,
            category_id,
            post_title,
            post_content,
            post_published,
            post_enabled,
            post_created_at,
            post_updated_at
        )
        VALUES(
            #{user_id},
            #{category_id},
            #{post_title},
            #{post_content},
            #{post_published},
            #{post_enabled},
            #{post_created_at},
            #{post_updated_at}
        )
    </insert>

    <update id="updatePost">
        UPDATE post
        <set>
            <if test="user_id != null">
                user_id = #{user_id},
            </if>
            <if test="category_id != null">
                category_id = #{category_id},
            </if>
            <if test="post_title != null">
                post_title = #{post_title},
            </if>
            <if test="post_content != null">
                post_content = #{post_content},
            </if>
            <if test="post_published != null">
                post_published = #{post_published},
            </if>
            <if test="post_enabled != null">
                post_enabled = #{post_enabled},
            </if>
            <if test="post_updated_at != null">
                post_updated_at = #{post_updated_at}
            </if>
        </set>
        WHERE post_id = #{post_id}
    </update>

    <select id="getPostById" resultType="Post">
        SELECT * FROM post WHERE post_id = #{postId}
    </select>

    <!-- Basic way to find list -->
    <select id="getPostsByIds" resultType="Post">
        SELECT * FROM post WHERE post_id IN
        <foreach collection="list" item="post_id" index="index"
                 open="(" separator="," close=")">
            #{post_id}
        </foreach>
        <if test="post_published != null">
            post_published = #{post_published}
        </if>
        <if test="orderBy != null and orderType != null">
            ORDER BY #{orderBy} #{orderType}
        </if>
        <if test="offset != null and limit != null">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <!-- More ways to find list -->
    <select id="getPostsByCondition" resultType="Post">
        SELECT * FROM post
        <where>
            <!-- find by time period -->
            <if test="begin_time != null and end_time != null">
                post_created_at &gt; #{duration_begin} AND post_created_at &lt; #{duration_end}
            </if>
            <!-- find by user id -->
            <if test="user_id != null">
                AND user_id = #{user_id}
            </if>
            <!-- find if published-->
            <if test="post_published != null">
                post_published = #{post_published}
            </if>
            <!-- find if enabled-->
            <if test="post_enabled != null">
                post_enabled = #{post_enabled}
            </if>
            <!-- find if category-->
            <if test="category_id != null">
                category_id = #{category_id}
            </if>
        </where>
        <if test="orderBy != null and orderType != null">
            ORDER BY ${orderBy} ${orderType}
        </if>
        <if test="offset != null and limit != null">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>
</mapper>