<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myblog.dao.MyBatis.Mapper.PostMapper">
    <insert id="createPost" useGeneratedKeys="true" keyProperty="post_id">
        INSERT INTO post(
        user_id,
        category_id,
        post_title,
        post_content,
        post_published,
        post_enabled,
        post_created_at,
        post_updated_at
        )
        VALUES(
        #{user_id},
        #{category_id},
        #{post_title},
        #{post_content},
        #{post_published},
        #{post_enabled},
        #{post_created_at},
        #{post_updated_at}
        )
    </insert>

    <update id="updatePost">
        UPDATE post
        <set>
            <if test="update.user_id != null">
                user_id = #{update.user_id},
            </if>
            <if test="update.category_id != null">
                category_id = #{update.category_id},
            </if>
            <if test="update.post_title != null">
                post_title = #{update.post_title},
            </if>
            <if test="update.post_content != null">
                post_content = #{update.post_content},
            </if>
            <if test="update.post_published != null">
                post_published = #{update.post_published},
            </if>
            <if test="update.post_enabled != null">
                post_enabled = #{update.post_enabled},
            </if>
            <if test="update.post_updated_at != null">
                post_updated_at = #{update.post_updated_at}
            </if>
        </set>
        WHERE post_id = #{postId}
    </update>

    <select id="getPostById" resultType="Post">
        SELECT * FROM post WHERE post_id = #{postId}
    </select>

    <!-- Basic way to find list -->
    <select id="getPostsByIds" resultType="Post">
        SELECT * FROM post WHERE post_id IN
        <foreach collection="list" item="post_id" index="index"
                 open="(" separator="," close=")">
            #{post_id}
        </foreach>
    </select>

    <!-- More ways to find list -->
    <select id="getPostsByCondition" resultType="Post">
        SELECT * FROM post
        <where>
            <!-- find by post title -->
            <if test="post_title != null">
                <bind name="titlePattern" value="'%' + post_title + '%'"/>
                AND post_title LIKE #{titlePattern}
            </if>
            <!-- find by user id -->
            <if test="user_id != null">
                AND user_id = #{user_id}
            </if>
            <!-- find by published-->
            <if test="post_published != null">
                AND post_published = #{post_published}
            </if>
            <!-- find by enabled-->
            <if test="post_enabled != null">
                AND post_enabled = #{post_enabled}
            </if>
            <!-- find by category-->
            <if test="category_id != null">
                AND category_id = #{category_id}
            </if>
        </where>
        <if test="orderBy != null and orderType != null">
            ORDER BY ${orderBy} ${orderType}
        </if>
        <if test="offset != null and limit != null">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="countAllPost" resultType="int">
        SELECT COUNT(*) FROM post WHERE post_enabled = true
    </select>
</mapper>