<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="database.properties"/>

    <typeAliases>
        <typeAlias type="myblog.domain.Post" alias="Post"/>
        <typeAlias type="myblog.domain.Comment" alias="Comment"/>
        <typeAlias type="myblog.domain.User" alias="User"/>
        <typeAlias type="myblog.domain.Category" alias="Category"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="poolMaximumActiveConnections" value="120"/>
                <property name="poolMaximumIdleConnections" value="20"/>
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/PostMapper.xml"/>
        <mapper resource="mapper/CategoryMapper.xml"/>
    </mappers>
</configuration>